<script setup lang="ts">
import { onMounted } from "vue";
import { useUserStore } from "../../stores/user";
import UserDialog from "./UserDialog.vue";
const userStore = useUserStore();

onMounted(async () => {
  await userStore.getUsers();
});
</script>
<template>
  <UserDialog></UserDialog>
  <v-container>
    <v-btn color="primary" @click="userStore.dialog = true">Add New</v-btn>
    <v-table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Age</th>
          <th>Operations</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item of userStore.users" :key="item.id">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.age }}</td>
          <td>
            <v-btn
              class="mr-5"
              color="secondary"
              @click="userStore.editUser(item)"
              >Edit</v-btn
            >
            <v-btn color="error" @click="userStore.deleteUser(item.id!)"
              >Delete</v-btn
            >
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-container>
</template>
